<%= form_with(model: discipline, local: true) do |form| %>
  <% if discipline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discipline.errors.count, "error") %> prohibited this discipline from being saved:</h2>

      <ul>
      <% discipline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :department %>
    <%= form.select :department_id, options_for_select(Department.all.map{|s|[s.name, s.id]}) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
      <%= hidden_field_tag "discipline[major_ids][]", nil%>
      <%= form.label "Curso" %>
      <% Major.all.each do |major| %>
        <%= check_box_tag "discipline[major_ids][]", major.id, @discipline.major_ids.include?(major.id), id: dom_id(major)%>
        <%= label_tag dom_id(major), major.name %>
      <% end %>
  </div>

  <div class="field">
      <%= hidden_field_tag "discipline[eq_discipline_ids][]", nil%>
      <%= form.label "Disciplinas Equivalentes" %>
      <% Discipline.all.each do |eq_discipline| %>
        <%= check_box_tag "discipline[eq_discipline_ids][]", eq_discipline.id, @discipline.eq_discipline_ids.include?(eq_discipline.id), id: dom_id(eq_discipline)%>
        <%= label_tag dom_id(eq_discipline), eq_discipline.name %>
      <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
