<p id="notice"><%= notice %></p>

<h1>Disciplinas</h1>

<%= form_tag disciplines_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Pesquisar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Departmento</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.department.name %></td>
        <td><%= discipline.name %></td>
        <td><%= link_to 'Mostrar', discipline %></td>
        <% if current_user.admin? or current_user.coord? %>
          <td><%= link_to 'Editar', edit_discipline_path(discipline) %></td>
          <td><%= link_to 'Excluir', discipline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? or current_user.coord? %>
  <%= link_to 'Nova Disciplina', new_discipline_path %>
<% end %>
