<p id="notice"><%= notice %></p>

<p>
  <strong>Departmento:</strong>
  <%= @discipline.department.name %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @discipline.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Cursos:</th>
    </tr>
  </thead>
  <tbody>
    <% @discipline.majors.each do |major| %>
      <tr>
        <td><%= major.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Equivalentes:</th>
    </tr>
  </thead>
  <tbody>
    <% @discipline.eq_disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? or current_user.coord? %>
  <%= link_to 'Editar', edit_discipline_path(@discipline) %> |
  <%= link_to 'Voltar', disciplines_path %>
<% end %>
