<%= form_with(model: classroom, local: true) do |form| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :period %>
    <%= form.select :period_id, options_for_select(Period.all.map{|s|[s.happens, s.id]}) %>
  </div>

  <div class="field">
    <%= form.label :discipline %>
    <%= form.select :discipline_id, options_for_select(Discipline.all.map{|s|[s.name, s.id]}) %>
  </div>

  <div class="field">
    <%= form.label :professor %>
    <%= form.select :professor_id, options_for_select(Professor.all.map{|s|[s.name, s.id]}) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
