<p id="notice"><%= notice %></p>

<h1>Turmas</h1>

<%= form_tag classrooms_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Pesquisar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Período</th>
      <th>Disciplina</th>
      <th>Professor</th>
      <th>Nome</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.period.happens %></td>
        <td><%= classroom.discipline.name %></td>
        <td><%= classroom.professor.name %></td>
        <td><%= classroom.name %></td>
        <td><%= link_to 'Mostrar', classroom %></td>
        <% if current_user.admin? or current_user.coord? %>
          <td><%= link_to 'Editar', edit_classroom_path(classroom) %></td>
          <td><%= link_to 'Excluir', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? or current_user.coord? %>
  <%= link_to 'Nova Turma', new_classroom_path %>
<% end %>