<p id="notice"><%= notice %></p>

<p>
  <strong>Período:</strong>
  <%= @classroom.period.happens %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @classroom.discipline.name %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @classroom.professor.name %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @classroom.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Alunos:</th>
    </tr>
  </thead>
  <tbody>
    <% @classroom.students.each do |std| %>
      <tr>
        <td><%= std.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? or current_user.coord? %>
  <%= link_to 'Editar', edit_classroom_path(@classroom) %> |
  <%= link_to 'Voltar', classrooms_path %>
<% end %>
