<%= form_with(model: lecture, local: true) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :classroom %>
    <%= form.select :classroom_id, options_for_select(Classroom.all.map{|s|[s.name, s.id]}) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
      <%= hidden_field_tag "lecture[student_ids][]", nil%>
      <% Student.all.each do |std| %>
        <%= check_box_tag "lecture[student_ids][]", std.id, @lecture.student_ids.include?(std.id), id: dom_id(std)%>
        <%= label_tag dom_id(std), std.name %>
      <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
