<p id="notice"><%= notice %></p>

<h1>Aulas</h1>

<%= form_tag lectures_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Pesquisar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Turma</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.classroom.name %></td>
        <td><%= lecture.name %></td>
        <td><%= link_to 'Mostrar', lecture %></td>
        <% if current_user.admin? or current_user.teacher? %>
          <td><%= link_to 'Editar', edit_lecture_path(lecture) %></td>
          <td><%= link_to 'Excluir', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? or current_user.teacher? %>
  <%= link_to 'Nova Aula', new_lecture_path %>
<% end %>
