<p id="notice"><%= notice %></p>

<p>
  <strong>Turma:</strong>
  <%= @lecture.classroom.name %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @lecture.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Alunos:</th>
    </tr>
  </thead>
  <tbody>
    <% @lecture.students.each do |std| %>
      <tr>
        <td><%= std.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? or current_user.teacher? %>
  <%= link_to 'Editar', edit_lecture_path(@lecture) %> |
  <%= link_to 'Voltar', lectures_path %>
<% end %>
