<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :major %>
    <%= form.select :major_id, options_for_select(Major.all.map{|s|[s.name, s.id]}) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
      <%= hidden_field_tag "student[classroom_ids][]", nil%>
      <% Classroom.all.each do |classroom| %>
        <%= check_box_tag "student[classroom_ids][]", classroom.id, @student.classroom_ids.include?(classroom.id), id: dom_id(classroom)%>
        <%= label_tag dom_id(classroom), classroom.name %>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
    
<% end %>
