<p id="notice"><%= notice %></p>

<h1>Estudantes</h1>

<%= form_tag students_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Pesquisar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Curso</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.major.name %></td>
        <td><%= student.name %></td>
        <td><%= link_to 'Mostrar', student %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Editar', edit_student_path(student) %></td>
          <td><%= link_to 'Excluir', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to 'Novo Estudante', new_student_path %>
<% end %>
