<p id="notice"><%= notice %></p>

<p>
  <strong>Curso:</strong>
  <%= @student.major.name %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @student.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Turmas:</th>
    </tr>
  </thead>
  <tbody>
    <% @student.classrooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <%= link_to 'Editar', edit_student_path(@student) %> |
  <%= link_to 'Voltar', students_path %>
<% end %>
