<p id="notice"><%= notice %></p>

<h1>Períodos</h1>

<%= form_tag periods_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Pesquisar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Acontece em:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.happens %></td>
        <td><%= link_to 'Mostrar', period %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Editar', edit_period_path(period) %></td>
          <td><%= link_to 'Excluir', period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to 'Novo Período', new_period_path %>
<% end %>
