<p id="notice"><%= notice %></p>

<p>
  <strong>Acontece em:</strong>
  <%= @period.happens %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Editar', edit_period_path(@period) %> |
  <%= link_to 'Voltar', periods_path %>
<% end %>
