<%= form_with(model: @user, local: true) do |form| %>
    
  <%= @user.email %>

  <div class="field">
      <%= form.label :email, "E-mail" %>
      <%= form.email_field :email %>
  </div>

  <div clas="field">
      <%= form.label :password, "Senha" %>
      <%= form.password_field :password %>
  </div>

  <% if current_user.admin?%>
    <div class="field">
        <%=form.label :kind, "Cargo"%>
        <%= form.select :kind, user_kind_options, id: :user_kind %>
    </div>
  <% end %>

  <div class="field">
      <%= form.label :photo, "Foto de perfil" %><br/>
      <%= form.file_field :photo, autofocus: true, autocomplete: "photo" %>
  </div>


  <div id="botaozin" class="field">
      <%= form.submit "Salvar" %>
  </div>

<% end %>

<%= link_to "Voltar", :back %>