<p id="notice"><%= notice %></p>

<h1>Usuários</h1>

<%= form_tag users_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Pesquisar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>E-mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Mostrar', user %></td>
        <% if can? :edit, @user %>
          <td><%= link_to 'Editar', edit_user_path(user) %></td>
          <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !current_user.present? %>
  <%= link_to 'Novo Usuário', new_user_path %>
| <%= link_to "Login", new_user_session_path %>
<% end %>
