<p id="notice"><%= notice %></p>

<p>
    <strong>E-mail: </strong>
    <%= @user.email %>
</p>

</p>
    <strong>Tipo:</strong>
    <% if @user.kind.present? %>
        <%= @user.kind %>
    <% end %>
</p>

<p>
    <strong>Imagem:</strong>
    <p><%= @user.photo %></p>
    <% if @user.photo.present? %>
        <%= image_tag @user.photo.url, alt: "Imagem do Usuario" %>
    <% end %>
</p>

<% if can? :edit, @user %>
    <%= link_to 'Editar', edit_user_path(@user) %> |
<% end %>

<%= link_to 'Voltar', users_path %>
