<p id="notice"><%= notice %></p>

<h1>Departmentos</h1>

<%= form_tag departments_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Pesquisar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= link_to 'Mostrar', department %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Editar', edit_department_path(department) %></td>
          <td><%= link_to 'Excluir', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to 'Novo Departmento', new_department_path %>
<% end %>
