<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @department.name %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Editar', edit_department_path(@department) %> |
  <%= link_to 'Voltar', departments_path %>
<% end %>
