<p id="notice"><%= notice %></p>

<h1>Cursos</h1>

<%= form_tag majors_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Pesquisar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Departmento</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @majors.each do |major| %>
      <tr>
        <td><%= major.department.name %></td>
        <td><%= major.name %></td>
        <td><%= link_to 'Mostrar', major %></td>
        <% if current_user.admin? or current_user.coord? %>
          <td><%= link_to 'Editar', edit_major_path(major) %></td>
          <td><%= link_to 'Excluir', major, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? or current_user.coord? %>
  <%= link_to 'Novo Curso', new_major_path %>
<% end %>
