<p id="notice"><%= notice %></p>

<p>
  <strong>Departmento:</strong>
  <%= @major.department.name %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @major.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Disciplinas:</th>
    </tr>
  </thead>
  <tbody>
    <% @major.disciplines.each do |disc| %>
      <tr>
        <td><%= disc.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? or current_user.coord? %>
  <%= link_to 'Editar', edit_major_path(@major) %> |
  <%= link_to 'Voltar', majors_path %>
<% end %>
