<p id="notice"><%= notice %></p>

<h1>Professores</h1>

<%= form_tag professors_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Pesquisar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Departmento</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.department.name %></td>
        <td><%= professor.name %></td>
        <td><%= link_to 'Mostrar', professor %></td>
        <% if current_user.admin? %>
         <td><%= link_to 'Editar', edit_professor_path(professor) %></td>
         <td><%= link_to 'Excluir', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to 'Novo Professor', new_professor_path %>
<% end %>
