<p id="notice"><%= notice %></p>

<p>
  <strong>Departmento:</strong>
  <%= @professor.department.name %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @professor.user.email %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Editar', edit_professor_path(@professor) %> |
  <%= link_to 'Voltar', professors_path %>
<% end %>
