<!DOCTYPE html>
<html>
  <head>
    <title>College</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Nav Bar</h1>
    <%= link_to "Home", root_path %>
    <%= link_to "Departamentos", departments_path %>
    <%= link_to "Turmas", classrooms_path %>
    <%= link_to "Disciplinas", disciplines_path %>
    <%= link_to "Aulas", lectures_path %>
    <%= link_to "Cursos", majors_path %>
    <%= link_to "Periodos", periods_path %>
    <%= link_to "Professores", professors_path %>
    <%= link_to "Alunos", students_path %>
    <%= link_to "Usuários", users_path %>
    <% if current_user.present? %>
      <br/>
      <%= link_to "Sair", destroy_user_session_path , method: :delete %>
      <%= link_to current_user.email, current_user %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
